
$primary-font: "Merriweather", "Helvetica Neue", Arial, sans-serif;
$heading-font: "Montserrat", "Helvetica Neue", Arial, sans-serif;
$bg-primary: #3498db;
$dark-blue:  #1D3557;
$dark-orange: #BC6C25;
$link-bl: #3498db;
$desktop-page-sp: 100px;
$container-padding-sm: 24px;
$container-padding-lg: 96px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: $primary-font;
  color: #212529;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  font-weight: bold;
  padding: 20px 0;
}

h1 {
    font-size: 2rem;
}

p {
  line-height: 2rem;
}

a, a:visited {
  text-decoration: none;
  color: $link-bl;
}

a:hover {
  opacity: 0.5;
}

.icons:hover{
  opacity: 0.5;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top-color: currentcolor;
    border-top-style: none;
    border-top-width: 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

main {
    display: flex;
    min-height: calc( 100vh - 30px);
    width: 60%;
    margin-left: 10%;

    aside {
        border-left: 1px solid rgb(204, 204, 204);
        padding-left: 1em;
        padding-right: 1em;
        order: 2;
        position: fixed;
        top: 100px;
        right: 0px;
        z-index: various;
        width: 20%;
        
        nav {
            margin-top: 1em;
            
            ul {
                list-style-type: none;
                
                li {
                    margin: 1em;
                }
            }
        }
    }
    
    .page-content {
        flex: 1 0 auto;
        order: 1;
        width: 70%;
    }

    .home-read-more {
        margin-top: 1em;
        padding-left: 4em;
        padding-right: 4em;
        text-align: center;
        margin-bottom: 2em;

        a, a:visited {
            display: block;
            padding: 0.5rem 1rem;
            font-size: 1.25rem;
            line-height: 1.5;
            border-radius: 0.3rem;

            font-family: $heading-font;
            font-weight: bold;
            background-color: $bg-primary;
            height: 100%;
            width: 50%;
            color: white;
            border: 1px solid #3498db;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }
    }
}

.page-content {
    padding-top: 2em;
    nav {
        display: flex;

        div {
            flex: 1 0 auto;
            width: 40%;
        }
    }
}

article.post-preview {
    header {
        h1 {
            a, a:visited {
                text-decoration: none;
                color: inherit;
            } 
            padding-bottom: 0;
        }
        time {
            display: block;
            color: #6c757d !important;
            margin-top: 0;
            margin-bottom: 1rem;
        }
    }
    p {
        
    }
    footer {
        background-color: transparent;
        width: 100%;
        min-height: 1em;
        text-align: right;
        a {
            width: 100%;
        }
    }
}


.heading-secondary {
  font-size: 2.3rem;
  padding: 0;
}

div.highlight {
    pre {
        padding-top: 1em;
        padding-bottom: 1em;
        margin-top: 1em;
        margin-bottom: 1em;
        overflow-x: scroll;
        /*white-space: pre-wrap;
        word-break: break-word;*/
    }
} 


header.top-header {
    background: $bg-primary;
    color: white;
    width: 100%;

    padding: 1em 8px;

    & nav {

        & .top-nav {
            list-style-type: none;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            font-family: $primary-font;
    
            & li a {
                color: rgba(255, 255, 255, 0.5);
            }

            &__link {
                text-align: center;
                font-weight: 600;
                padding: 0.5rem 0.5rem;
            }
    
            &__logo {
                font-size: 1.25rem;
                padding: 0.275rem 0.275rem;
                font-weight: bold;
        
                & a {
                    color: white !important;
                }
            }    
        }

    }
}

.social-button {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
    color: white;

    border: 1px solid black;
    border-radius: 1em;

    display: inline-flex;
    height: 20px;
    padding: 2px 5px;
    font-size: 11px;
    font-weight: 600;
    line-height: 14px;
     
    &:visited { 
        font-weight: 600;
        color: white;       
    }
    
    &:before {
        content: " ";
        width: 14px;
        height: 14px;
        margin-right: 5px;      
        
        display: inline-block;
        vertical-align: text-top;
    }
}

.email-button {
    border: 1px solid #00CFD4;
    background-color: #00CFD4;

    &:before {
        background-image: url("data:image/svg+xml,<svg version='1.0' viewBox='0 0 72 72' preserveAspectRatio='xMidYMid' xmlns='http://www.w3.org/2000/svg'><path fill='%23fff' d='M.144 36.109v27.14h72V8.97h-72zm63.838-22.112c-1.603 1.648-2.627 2.677-19.333 19.451-6.137 6.16-6.446 6.463-6.834 6.654-1.03.507-2.441.45-3.353-.14-.281-.175-2.97-2.88-16.762-16.847a5888.961 5888.961 0 0 1-8.128-8.23s-2.76 3.545-.906-.91c1.854-4.456 27.67 0 27.67 0 15.22 0 27.658.01 27.646.022zM14.285 26.81c4.973 5.028 9.045 9.168 9.045 9.185 0 .034-17.645 18.113-18.033 18.473l-.146.135v-18.49c0-10.17.021-18.483.043-18.472.027.005 4.117 4.134 9.09 9.169zm52.853 9.472c0 10.136-.022 18.248-.049 18.236-.021-.011-4.089-4.157-9.028-9.208l-8.983-9.197 4.348-4.36c11.07-11.108 13.686-13.73 13.697-13.73.01 0 .016 8.218.016 18.26zM31.25 43.854c1.564 1.142 3.32 1.677 5.3 1.603 1.332-.045 2.469-.326 3.549-.877.99-.506 1.35-.81 3.464-2.903l1.992-1.98 9.05 9.26 9.045 9.258-27.46.017c-15.104.005-27.468 0-27.485-.012-.01-.016.242-.292.563-.618.315-.327 4.416-4.517 9.101-9.315l8.522-8.72 1.969 1.986c1.12 1.131 2.149 2.121 2.39 2.301z' style='stroke-width:.00562499;image-rendering:auto'/></svg>");
    }
}

.twitter-follow-button {
    border: 1px solid  #1d9bf0;
    background-color: #1d9bf0;
    &:before {
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 72 72'><path fill='none' d='M0 0h72v72H0z'/><path class='icon' fill='%23fff' d='M68.812 15.14c-2.348 1.04-4.87 1.744-7.52 2.06 2.704-1.62 4.78-4.186 5.757-7.243-2.53 1.5-5.33 2.592-8.314 3.176C56.35 10.59 52.948 9 49.182 9c-7.23 0-13.092 5.86-13.092 13.093 0 1.026.118 2.02.338 2.98C25.543 24.527 15.9 19.318 9.44 11.396c-1.125 1.936-1.77 4.184-1.77 6.58 0 4.543 2.312 8.552 5.824 10.9-2.146-.07-4.165-.658-5.93-1.64-.002.056-.002.11-.002.163 0 6.345 4.513 11.638 10.504 12.84-1.1.298-2.256.457-3.45.457-.845 0-1.666-.078-2.464-.23 1.667 5.2 6.5 8.985 12.23 9.09-4.482 3.51-10.13 5.605-16.26 5.605-1.055 0-2.096-.06-3.122-.184 5.794 3.717 12.676 5.882 20.067 5.882 24.083 0 37.25-19.95 37.25-37.25 0-.565-.013-1.133-.038-1.693 2.558-1.847 4.778-4.15 6.532-6.774z'/></svg>");
    }
}

.github-follow-button {
    color: #24292f;
    background-color: #ebf0f4;

    border: 1px solid rgba(27,31,36,.15);
    border-radius: 0;
    background-image: linear-gradient(180deg, #f6f8fa, #ebf0f4 90%);

    &:visited { 
        color: #24292f;    
    }

    &:before {
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z'></path></svg>");
    }
}
/* Hero section */



// Footer area
body > footer {
    text-align: center;
    color: #ababab;
    background: #ededed;
    min-height: 40px;
    flex-shrink: 0;
    justify-content: center;
    padding-top: 20px;
    font-size: 12px;
}

