---
layout: compress
---

<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    {% asset inline.css @inline %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-static-top">
      <div class="container">
        <a  class="navbar-brand" href="{{ "/" | prepend:site.baseurl }}">{{ site.title }}</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto" data-purplecoat="shiori" data-purplecoat-label="nav.html">
            {% include nav.html %}
          </ul>
          <ul class="navbar-nav nav navbar-right" data-purplecoat="shiori" data-purplecoat-label="nav-right.html">
            {% include nav-right.html %}
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        {% if page.hide_sidebar or site.data.theme.hide_sidebar %}
          <div class="col-sm-12">
            {{ content }}
          </div>
        {% else %}
          <div class="col-sm-8">
            {{ content }}
          </div>
          <div class="col-sm-4">
            {% include sidebar.html %}
          </div>
        {% endif %}
      </div>
      <footer class="row footer">
        <div class="col-sm-12 text-center">
          {% include footer.html %}
        </div>
      </footer>
    </div>
    {% asset main.css %}
    {% include scripts.html %}
  </body>
</html>
